body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: linear-gradient(to bottom, #6f42c1, #20c997);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.auth-buttons a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
}

.btn-signup {
    background-color: #8a2be2;
    color: white;
}

.btn-login {
background-color: aliceblue;
}
main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 80px;
    margin: 0;
    font-weight: bold;
}

.hero-content p {
    font-size: 20px;
    margin: 20px 0;
}

.hero-buttons a {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 16px;
}

.btn-start {
    background-color: white;
    color: black;
}

.btn-explore {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}
